body {
    font-family: helvetica, arial, sans-serif;
    font-size: 10pt;
    /* overflow: hidden; */
    width: 298px;
    background-image: url('../images/notification/bg.png');
    margin: 0px;
    padding: 0px;
    border: 1px solid white;
}

#songInfoContainer {
    overflow: hidden;
    width: 298px;
    height: 58px;
}

#playerControlContainer {
    width: 100%;
    height: 37px;
    background-image: url('../images/notification/button_bar.png');
    background-position: -2px 0px; 
    clear: both;
    padding-top: 7px;
}

#play, #unmute { display: none; }
#notificationContainer{
    width: 100%;
    margin: 0;
    padding: 0;
}

#albumArt{
    margin-top: 7px;
    margin-right: 7px;
    float: right;
    width: 48px;
    height: 48px;
    border: 1px solid white;
}

#artistInfo{
    margin-top: 7px;
    width: 232px;
    color: white;
    height: 48px;
    text-align: right;
    text-shadow: 0 -1px 0 #111;
}

#songName{
    font-weight: bold;
    text-shadow: 0 -1px 0 #111;
}

.playerControl{
    position: relative;
    width: 37px;
    height: 37px;
    float: left;
    cursor: pointer;
    margin-left: 20px;
}

.isLiked{
    position: relative;
    width: 37px;
    height: 37px;
    float: left;
    margin-left: 20px;
    background-position: 0px -74px;
}

.playerControl:hover{
    background-position: 0px -37px;
    cursor: pointer;
}

.playerControl:active{
    background-position: 0px -74px;
    cursor: pointer;
}

#thumbs_down{
    background-image: url('../images/notification/button_thumbsdown.png');
}

#thumbs_up{
    background-image: url('../images/notification/button_thumbsup.png');
}

#play{
    background-image: url('../images/notification/button_play.png');
}

#pause{
    background-image: url('../images/notification/button_pause.png');
}

#skip{
    background-image: url('../images/notification/button_skip.png');
}

#mute{
    background-image: url('../images/notification/button_mute.png');
}

#unmute{
    background-image: url('../images/notification/button_unmute.png');
}

#tracking-container { background: #ffffff; }            
#tracking {
    background: #273245;
    height: 2px;
    width: 0%;
}

/* normal dropdown for station list
#station_listing {
    width: 100%;
    margin: 0;
    background: #042e5c;
    color: #ffffff;
    -webkit-appearance: none;
    display: none;
}
*/

.station_list dd, .station_list dt, .station_list ul {
    margin-top: -10px;
    padding: 0px;
}
.station_list dd {
    position: relative;
}
.station_list a, .station_list a:visited {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}
.station_list dt a {
    display: block;
    width: 100%;
}
.station_list dt a span {
    float: left;
    margin-top: -18px;
}
.station_list dd ul {
    background: #e4dfcb;
    color: #C5C0B0;
    display: none;
    left: -41px;
    padding: 5px 0px;
    position: absolute;
    top: 42px;
    width: 300px;
    list-style:none;
}
.station_list dd ul li a {
    padding: 5px;
    display: block;
    color: #000;
}
.station_list dd ul li a:hover {
    background-color: #d0c9af;
}